<div class="person">
  {{#if person.isNew}}
    <p>
      Name: {{input value=person.name}}
    </p>
    <p>
      Last name: {{input value=person.last_name}}
    </p>
    <p>
      Profession: {{input value=person.profession}}
    </p>
    <button {{action 'save' person}}>Save</button>
  {{else}}
    <p>
      Name: {{person.name}}
    </p>
    <p>
      Lastname: {{person.last_name}}
    </p>
    <p>
      Profession: {{person.profession}}
    </p>
  {{/if}}
</div>
{{yield}}
