<h1>People</h1>

Search: {{input value=filter}}

<br><br>

{{#each person in filteredPeople}}
  {{person-item person=person}}
{{else}}
  No people
{{/each}}

<br><br>

<button {{action 'new'}}>
  Add Person
</button>

{{outlet}}
